<div class="home-line-2-card">
  <div class="home-line-2-card-div">
    <p class="home-line-2-card-title">
      <span class="home-line-2-card-tag" style="font-size:13px;margin-right:6px;padding:2px 4px">{{tag}}</span>
      <span>{{title}}</span>
    </p>
    <p style="color: #7f7f7f;font-size:15px">{{content}}</p>
    <a class="home-line-2-card-tag" style="font-size:14px;;padding:5px 20px;top: 6px;position: relative;" href="{{link}}">
      立即查看 >
    </a>
  </div>
</div>
