<div class="comp-slider">
  <div class="comp-slider-content">
    <div class="comp-slider-content-item">
      <img src="static/images/slider1.png" />
    </div>
    <div class="comp-slider-content-item">
      <img src="static/images/slider2.png" />
    </div>
    <div class="comp-slider-content-item">
      <img src="static/images/slider3.png" />
    </div>
  </div>
  <div class="comp-slider-control">
    <div class="comp-slider-control-item"></div>
    <div class="comp-slider-control-item"></div>
    <div class="comp-slider-control-item"></div>
  </div>
</div>
