<div class="layout-header-content" >
  <div class="layout-header-right">
    <img width="50" height="50" src="/static/images/logo.png" />
    <h1> 我的站点 </h1>
  </div>
  <nav class="layout-header-right">
    <span><a href="/">首页</a></span>
    <span><a href="/product">产品</a></span>
    <span><a href="/solution">解决方案</a></span>
    <span><a href="/case">客户案例</a></span>
    <span><a href="/resource">资源中心</a></span>
    <span><a href="/about">关于我们</a></span>
    <span>{{>buttonTryOut butText="免费试用" }}</span>
  </nav>
</div>
