.layout-header-content {
  /* background: rgb(39, 121, 159); */
  /* --test */
  border-bottom: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  align-items: center;
  height: 100px;
}

.layout-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.layout-header-right {
  display: flex;
  align-items: center;

  :first-child {
    margin-left: 30px;
  }

  a {
    color: #000;
  }
}
